<h1>Login</h1>

{{#if error}}
<p>Error: {{error}}</p>
{{/if}}


<form method="post" action="/user/login">
<div>
    <label>Email</label>
    <input type="text" name="email" />
</div>
<div>
    <label>Password</label>
    <input type="password" name="password" />
</div>
<div>
    <input type="submit" value="Login" />
</div>
<div>

<div>
<input type="checkbox" name="remember_me" value="yes">Remember Me<br>
</div>

{{!-- <label>Remember Me</label>
<input value="yes" type="checkbox" name="remember_me" id= "box"/> --}}

</div>
</form>