extends layout

block content

 div.title
  h1.title-text= title

  div  
    form.form-inline(method='post', action='/tasks/create')
            button.button(type='submit') Add a Task      

  ul
  .task-container
    each task in tasks
      li.task
        div.task-div
          p.task-p=task.name
          p.task-p=task.description
          p.task-p=task.due_date
        
