extends layout

block content


    div.container-home
        div.row-home 
            div.home-div 
                p.sep-div  Welcome to Taskio
                p.sep-div  Achieve your goals today and earn!

        