doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")  
    title Taskio
    
    style
      include ../public/styles.css
      include ../public/bootstrap.min.css
    

  body
    nav.navbar.navbar-expand-md.mb-4
      a.navbar-brand(href='#') Taskio
    
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarCollapse', aria-controls='navbarCollapse', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarCollapse.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href='/home')
              | Home 
              span.sr-only (current)
          
          if  user !== undefined
            li.nav-item.active
              a.nav-link.active(href='/tasks/dashboard') 
                | Dashboard
            li.nav-item.active
              a.nav-link.active(href='/user/logout') 
                | Logout
          else 
            li.nav-item.active
              a.nav-link.active(href='/user/register') 
                | Register
            li.nav-item.active
              a.nav-link.active(href='/user/login') 
                | Login
      if  user !== undefined
        i.fas.fa-clipboard-list 
        p.gem-time=all
        i.fas.fa-clipboard-check
        p.gem-time=com
        i.fas.fa-hourglass-half 
        p.gem-time 0
        i.far.fa-gem 
        p.gem-time=points
      else   
        a.btn.btn-primary(href='/user/register') 
                  | Get Started Today!
 
  block content


  footer
    script(type='text/javascript' src='./script.js')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js")
    script(src="https://kit.fontawesome.com/7edf7d6684.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
 
    script.
     
              new Chart(document.getElementById("habitChart"), {
                type: 'horizontalBar',
                data: {
                  labels: ["Health", "Experience", "Points"],
                  datasets: [
                    {
                      backgroundColor: ["#C4273C", "#2B9FE6","#48D044"],
                      data: [15,75,45]
                    }
                  ]
                },
                options: {
                  legend: { display: false },
                  title: {
                    display: true,
                    text: ''
                  },
                   responsive: false,
                   scales: {
                      xAxes: [{ 
                          gridLines: {
                              display: false,
                              color: 'black'
                          },
                          ticks: {
                            display: false
                          },
                      }],
                      yAxes: [
                         
            {gridLines:{
                  display: false,
                  color: 'black'
                      },
                      }],
                  }
                }
            });


     