doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")  
    title Task App
    
    style
      include ../public/styles.css
      include ../public/bootstrap.min.css
    

  body
    nav.navbar.navbar-expand-md.mb-4
      a.navbar-brand(href='#') Task..
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarCollapse', aria-controls='navbarCollapse', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarCollapse.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href='/home')
              | Home 
              span.sr-only (current)
          
          if  user !== undefined
            li.nav-item.active
              a.nav-link.active(href='/tasks/dashboard') 
                | Dashboard
            li.nav-item.active
              a.nav-link.active(href='/user/logout') 
                | Logout
          else 
            li.nav-item.active
              a.nav-link.active(href='/user/register') 
                | Register
            li.nav-item.active
              a.nav-link.active(href='/user/login') 
                | Login
      if  user !== undefined
        i.fas.fa-hourglass-half 
        p.gem-time 0
        i.far.fa-gem 
        p.gem-time 0
      else   
        a.btn.btn-primary(href='/user/register') 
                  | Get Started Today!
 
  block content


  footer
    script(type='text/javascript' src='/../public/script.js')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js")
    script(src="https://kit.fontawesome.com/7edf7d6684.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
 
    script.
      var ctx = document.getElementById("taskChart").getContext('2d');
              var chart = new Chart(ctx, {
                  type: 'pie',
                  data: {
                      labels: ["Current", "Completed"],
                      datasets: [{
                          label: 'Number of votes',
                          data: [34, 14],
                          backgroundColor: ['green', 'blue'],
                          borderColor: ['green', 'blue'],
                          borderWidth: 1
                      }]
                  },
                  options: {
                      title: {
                          display: true,
                          text: "Tasks"
                      },
                      legend: {
                          position: 'bottom'
                      },
                      responsive: false,
                  }
              });

              new Chart(document.getElementById("habitChart"), {
                type: 'horizontalBar',
                data: {
                  labels: ["Africa", "Asia", "Europe", "Latin America", "North America"],
                  datasets: [
                    {
                      label: "Population (millions)",
                      backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
                      data: [2478,5267,734,784,433]
                    }
                  ]
                },
                options: {
                  legend: { display: false },
                  title: {
                    display: true,
                    text: 'Predicted world population (millions) in 2050'
                  }
                }
            });