
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Quicksand:wght@600;700&display=swap');

*{
  --size: 50;
  --unit: calc((var(--size) / 100) * 1vmin);
  font-family: 'Roboto', sans-serif;
}

:root * {
  margin: 0;
}

body {
  height: 125vh;
  background-size: cover;
  background-color: lightcyan !important;
}
/*
 * NAV
 */

.navbar{
  background-color: darkblue !important;
  box-shadow: 0 0 15px 0 grey;
}
.navbar-brand {
  color: white !important;
  font-family: 'Quicksand', sans-serif;
  font-size: 2em !important;
}
.fa-hourglass-half , .fa-gem,
.fa-clipboard-check, .fa-clipboard-list{
  color: yellow !important;
  text-decoration: none; 
  padding: 20px; 
}
.nav-link {
  color: white !important;
  text-decoration: none;
  padding: 20px; 
}
.gem-time  {
  color: white !important;
 
}
/*
 * DASHBOARD
 */

.container-dash {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  background-color: #e5cafa  !important;
  box-shadow: 0 0 15px 0 grey;
  
}
.child-dash{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.pixel {
  margin: 15px;
  padding: 10px;
}
.avatar {
  width: 150px;
  clip-path: circle(50% at 50% 50%);
}

.title {
  margin-top: 50px;
  padding-bottom: 20px;
}
.title-page{
  text-align: center;
}
/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */

.sidebar {
  margin-top: -75px;
  background-color: #FEFEFE !important;
  box-shadow: 0 0 15px 0 grey;

}
@media (min-width: 768px) {
  .sidebar {
    width: 75px !important;
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
  
    display: block;
    padding: 20px;
    overflow-x: hidden;
  /* Scrollable contents if viewport is shorter than content. */
    background-color: #FEFEFE;
  
  }
}

/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

/*
 * FORM STYLING
 */

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/*
 * HOME PAGE
 */
.container-home {
  height: 100%;
    padding: 0;
    margin: 0;
    margin-top: -150px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row-home {
  width: auto;
  border: 1px solid blue;
  border-radius: 10px;
}
.home-div {
  background-color: #e5cafa;
  padding: 50px;
  width: 600px;
  height: 400px;
  margin: 10px;
  line-height: 20px;
  color: black;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
 }
 .sep-div {
  font-family: 'Quicksand', sans-serif;
   margin: 50px;
   line-height: 1em;
 }



/*
 * TASK ITEM
 */

.container-task {
  text-align: center;
  margin: auto;;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  background-color: #e5cafa !important;
  box-shadow: 0 0 15px 0 grey;
  width: 400px;
  height: 600px;
}
.child-task {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}