
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root {
  --size: 50;
  --unit: calc((var(--size) / 100) * 1vmin);
  font-family: 'Roboto', sans-serif;
}

:root * {
  margin: 0;
}

#page {
  height: 125vh;
  background: rgb(0,36,31);
background: radial-gradient(circle, rgba(0,36,31,0.6138830532212884) 0%, rgba(31,9,121,0.5494572829131652) 35%, rgba(81,0,255,0.7483368347338936) 100%);
}


.title {
  display flex;
  justify-content: center;
  width:100%;
  text-align:center;
  
}

.title-text {
  margin: 10px;
  padding: 5px;   
  width: 500px;
  display: inline-block;
  color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #3a5a9f;
  font-size: 3em;
  font-weight: 700;
  text-transform: uppercase;
}

.button {
  border: 1px solid black;
  border-radius: 15px;
  padding: 8px;
  text-decoration: none;
  background-color:#22c1c3 ;
  color: white;
}

.task-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-top: 50px;
  border: 1px solid black;
}

.task-div {
 border: 1px solid black;
 border-radius: 10px;
 display flex;
 justify-content: center;
 width: 500px;

text-align:center;
background-color: white;
margin-bottom: 90px;
}
.task-p {
  border: 0.5px solid black;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
  width: 150px;
  display: inline-block;
  font-size: 0.8em;
  background-color: lightgoldenrodyellow;
  text-transform: capitalize;
}