<h1> Edit Task</h1>

<form method="post" action="/tasks/edit">
<div>
    <label>Name</label>
    <input type="text" name="name" />
</div>
<div>
    <label>Description</label>
    <input type="text" name="description" />
</div>
<div>
    <label>Due Date</label>
    <input type="date" name="due_date" />
</div>
<div>
    <input type="submit" value="Register" />
</div>
</form>