extends ../layout

block content

  h2.title-page Edit Task 

  form.form-signin(action=`/tasks/edit/${id}?_method=PUT`, method='POST')
    p
      
      | Name: 
      input.form-control(type='text', name='name', value='')
      | Notes: 
      input.form-control(type='text', name='notes', value='')
      | Difficulty: 
      select.form-control(type='text', name='difficulty')
              option(value='') -- Select --
              option(value='Niggling', ) Niggling
              option(value='Easy Peasy', ) Easy Peasy
              option(value='Middle', ) Middle 
              option(value='Mega', ) Mega
      | Category: 
      select.form-control(type='text', name='category')
              option(value='') -- Select --
              option(value='Work', ) Work
              option(value='Exercise', ) Exercise 
              option(value='Health', ) Health 
              option(value='School', ) School
              option(value='Chores', ) Chores
              option(value='Creativity', ) Creative
              option(value='General', ) General
      | Due Date:
      input.form-control(type='date', name='due_date', value='') 
      | Repeating:
      input.form-control(type='checkbox', name='repeating', value='yes') 
      |
      input(type="hidden" name="_method" value="PUT")
    input.btn.btn-lg.btn-primary.btn-block(type='submit', value='Update Task')
